@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Ubuntu:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&family=Ubuntu:wght@300;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Source Code Pro', monospace, 'Ubuntu', sans-serif;
}


/* COMPONENT PORTRAIT */

#container-portrait {
    height: auto; 
    width: auto; 
    max-width: 600px;
}

 /* COMPONENT PROJECTS */
#container-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container-projects h1 {
    font-weight: 600;
}

#container-projects ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container-projects ul li a {
    text-decoration: none;
    color: black;
}

